

body{
   background-color:black ;
}
.asd{
    margin-left: 45% ;
    margin-right: 45%;
    height: 2px;
    background-color: white;
}
h1 {
    color: white;
    text-align: center;
    font-size: 40px;

}
.dsa{
    margin-left: 35% ;
    margin-right: 35%;
    height: 2px;
    background-color: white;
}
